<div class="main">
  <div class="header">
    <span class="logoInfo">
      <img class="logo" src="../assets/img/logo2.svg" alt="Logo"></span>
    <span class="hdr-info">
      <i class='fas fa-exchange-alt fa-rotate-90'></i>
      Manage
    </span>
  </div>
  <div class="content mt-3">
    <!-- Created two tab one for Supression List and Target List-->
    <ul ngbNav="ngbNav" #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink="ngbNavLink">
          <i class="fa fa-dot-circle-o" aria-hidden="true"></i>
          <span class="ml-1">Target Lists</span>
        </a>
        <ng-template ngbNavContent="ngbNavContent">
          <h6>Work in Progress
          </h6>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink="ngbNavLink">
          <i class="fa fa-user-times" aria-hidden="true"></i>
          <span class="ml-1">Supression Lists
          </span>
        </a>
        <ng-template ngbNavContent="ngbNavContent">
          <div class="sprsnhdr row m-0">
            <div class="sprnrecorddetail fw-500 col-lg-9 p-0 ">
              Total Supression Records:
              <span class="ml-2">
                <i class="fa fa-user-o icnColor" aria-hidden="true"></i>
                <span class="sprnCount ml-1 fw-500">{{suppressionListData.length}}</span>
              </span>
            </div>
            <!-- Search Text-->
            <div class="searchbox col-lg-2 p-0">
              <input type="text" class="form-control" placeholder="search" [(ngModel)]="searchText"
                (ngModelChange)="filterSupressionListData()"></div>
            <div class="actionBtn col-lg-1">
              <!-- Action Dropown-->
              <div class="dropdown">
                <button class="btn btn-primary dropbtn">List Action
                  <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">
                    <i class="fa fa-list-alt mr-2" aria-hidden="true"></i>Create Supression List</a>
                  <a href="#">
                    <i class="fa fa-envelope-o mr-2" aria-hidden="true"></i>Add Supression Email</a>
                  <a href="#">
                    <i class="fa fa-minus-square-o mr-2" aria-hidden="true"></i>Remove Supression Email</a>
                </div>
              </div>
            </div>
          </div>
          <!-- Supression List Table-->
          <div class="sprsnTable">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Sr. No.</th>
                  <th scope="col" sortable="name" (sort)="onSort($event)">Supression List Name</th>
                  <th scope="col" sortable="area" (sort)="onSort($event)">Last Modified On</th>
                  <th scope="col" sortable="population" (sort)="onSort($event)">Last Modified By</th>
                  <th scope="col" sortable="population" (sort)="onSort($event)">Records</th>
                  <th scope="col" sortable="population" (sort)="onSort($event)">Action</th>
                </tr>
              </thead>
              <tr
                *ngFor="let record of filteredSupressionData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
                <td>{{record.id}}</td>
                <td>{{record.supressionListName}}</td>
                <td>{{record.lastModifiedOn}}</td>
                <td>{{record.lastModifiedBy}}</td>
                <td class="sprnCount">{{record.records | number}}</td>
                <td>
                  <i class="fa fa-envelope-o mr-3" aria-hidden="true"></i>
                  <i class="fa fa-trash-o mr-3" aria-hidden="true"></i>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                </td>
              </tr>
            </table>
            <div class="pagination mb-3 d-flex justify-content-center">
              <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="filteredSupressionData.length">
                <ng-template ngbPaginationPrevious="ngbPaginationPrevious"><i class="fa fa-backward mr-1"
                    aria-hidden="true"></i>Prev</ng-template>
                <ng-template ngbPaginationNext="ngbPaginationNext">Next <i class="fa fa-forward ml-1"
                    aria-hidden="true"></i></ng-template>
              </ngb-pagination>
            </div>
            <div class="processingQueueHdr row m-0">
              <span class="lftCntnt fs-14 fw-500">Processing Queue</span>
              <span class="processingQueueRytCntnt fs-14">View Supression List History</span>
            </div>
            <hr />
            <!-- Processing List Data-->
            <div class="process-list">
              <ng-container *ngFor="let data of processingQueueData; let i = index">
                <div class="processingQueueDate fs-14 primaryColor" *ngIf="i === 0">
                  {{data.date}}
                </div>
                <div class="processingQueueDate fs-14 primaryColor"
                  *ngIf="i!==0 && data.date !== processingQueueData[i-1].date">
                  {{data.date}}
                </div>
                <hr />
                <p class="fs-14 fw-500 primaryColor">{{data.processingHdrName}}</p>
                <div class="row m-0 primaryColor fs-14">
                  <div class="col-lg-10 p-0">
                    <div class="row m-0">
                      <div class="col-lg-2 p-0">
                        Input Records
                        <div class="fw-500">{{data.inputRecords | number}}</div>
                      </div>
                      <div class="col-lg-2 p-0">
                        Valid Records
                        <div class="fw-500">{{data.validRecords | number}}</div>
                      </div>
                      <div class="col-lg-2 p-0">
                        Action
                        <div class="fw-500">{{data.action}}</div>
                      </div>
                      <div class="col-lg-2 p-0">
                        By
                        <div class="fw-500">{{data.by}}</div>
                      </div>
                      <div class="col-lg-2  p-0">
                        Lists
                        <div class="fw-500">{{data.lists}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-2 p-0 d-flex align-self-center">
                    <div class="col-lg-6 offset-lg-5 fw-500">
                      <i class="fa fa-circle fs-10" [ngClass]="{
                      'orangeColor':data.status === 'In Progress',
                      'blueColor':data.status === 'Queued'
                    }" aria-hidden="true"></i> {{data.status}}
                    </div>
                  </div>
                </div>
                <hr>
              </ng-container>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
